# Git
.git
.gitignore

# Environments
.env
.venv
env/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Tests
.pytest_cache/
tests/

# Docker
.dockerignore
docker-compose.yml
Dockerfile

# Documentation
README.md

# IDEs
.vscode/
.idea/

# Other
sample.txt
